---
name: Backlog Limits Checker
# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: '*/10 * * * *'
  push:
    branches: ['master']
  workflow_dispatch:
permissions:
  contents: write
jobs:
  check_suse_qa_tools_backlog_limits:
    # prevent running this on forks or any other branches
    if: github.ref == 'refs/heads/master' && github.repository_owner == 'r-richardson' || github.ref == 'refs/heads/testworkflow'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      # Checkout backlogger tool to get the script and requirements
      - name: Checkout backlogger tool
        uses: actions/checkout@v4
        with:
          repository: openSUSE/backlogger
          path: backlogger
          ref: main

      - uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r backlogger/requirements.txt
        shell: bash

      - name: Install System dependencies
        run: sudo apt-get update && sudo apt-get install -y kramdown weasyprint imagemagick ghostscript
        shell: bash

      - name: Get previous published state
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: state
          sparse-checkout: |
            state.json
          sparse-checkout-cone-mode: false
        continue-on-error: true

      - run: rm -rf state/.git
        shell: bash
        continue-on-error: true

      - name: Render Markdown
        run: |
          python backlogger/backlogger.py queries.yaml --exit-code
          echo "BACKLOG_STATUS=$?" >> "$GITHUB_ENV"
        env:
          REDMINE_API_KEY: ${{ secrets.REDMINE_API_KEY }}
          STATE_FOLDER: state
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
        continue-on-error: true

      - name: Define variables
        run: |
          org=${{ github.repository_owner }}
          repo=$(cut -f2 -d/ <<<${{ github.repository }})
          [ "${{ github.event_name }}" == pull_request ] && extra="/pr-preview/pr-${{ github.event.number }}"
          preview_date="$(date +%s)"
          preview="preview.png"
          echo "PREVIEW_NAME=$preview" >> "$GITHUB_ENV"
          echo "PREVIEW_URL=https://$org.github.io/$repo$extra/$preview?v=$preview_date" >> "$GITHUB_ENV"
          if [ "${{ env.BACKLOG_STATUS }}" == 0 ]; then
            color="#73ba25"
          else
            color="#d13c3c"
          fi
          echo "STATUS_COLOR=$color" >> "$GITHUB_ENV"
        shell: bash

      - name: Render HTML
        run: |
          mkdir -p gh-pages
          cd gh-pages
          # Use local custom assets
          cat ../assets/head.html > index.html
          kramdown ../index.md >> index.html
          cat ../assets/foot.html >> index.html
          sed -i \
            -e "s@STATUS_COLOR@${{ env.STATUS_COLOR }}@g" \
            -e "s@GITHUB_REPOSITORY@${{ github.repository }}@g" \
            -e "s@PREVIEW_IMAGE_URL@${{ env.PREVIEW_URL }}@g" \
            -e "s@WORKFLOW_NAME@${{ github.workflow }}@g" \
            index.html
        shell: bash

      - name: Render PNG preview
        run: |
          cd gh-pages
          # Remove workaround for already fixed CVE-2018-16509
          sudo sed -i '/rights="none" pattern="PDF"/d' /etc/ImageMagick-6/policy.xml
          weasyprint index.html - | convert - -trim ${{ env.PREVIEW_NAME }}
        shell: bash

      - name: Publish state json
        run: cp state.json gh-pages/ || true
        shell: bash

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: gh-pages
          clean-exclude: pr-preview
